---
menuSortOrder:
    - welcome
    - intro
    - installation
    - concepts
    - rules
    - advanced
    - howto
    - examples
    - limitations
    - roadmap
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{app.name}} Docs{%if page.data.title %}{{page.data.title}}{%endif%}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Bootstrap 4 Template For Software Startups">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="/assets/fontawesome/js/all.min.js"></script>

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/assets/css/theme.css">

</head>

<body class="docs-page">
    <header class="header fixed-top">
        <div class="branding docs-branding">
            <div class="container-fluid position-relative py-2">
                <div class="docs-logo-wrapper">
					<button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible mr-2 d-xl-none" type="button">
	                    <span></span>
	                    <span></span>
	                    <span></span>
	                </button>
	                <div class="site-logo">
                        <i class="far fa-calendar-alt fa-2x" style="color: #e99700"></i>
	                    <a class="navbar-brand" href="index.html">
                            <span class="mr-2">
                                <span class="logo-text">{{app.name}}<span class="text-alt"> Docs</span></span>
                            </span>
                        </a>
                    </a>
                </div>
                </div><!--//docs-logo-wrapper-->
	            <div class="docs-top-utilities d-flex justify-content-end align-items-center">
		            <a href="https://cunningplan.shinywhitebox.com" class="btn btn-primary d-none d-lg-flex">Main Site</a>
		            <a href="https://cunningplan.shinywhitebox.com/app/" class="ml-1 btn btn-primary d-none d-lg-flex">Web App</a>
	            </div><!--//docs-top-utilities-->
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->

    <div class="docs-wrapper">
	    <div id="docs-sidebar" class="docs-sidebar">

            {% include "menu.njk" %}

	    </div><!--//docs-sidebar-->
	    <div class="docs-content">
		    <div class="container">

                {{ content | safe }}

			    <footer class="footer">
				    <div class="container text-center py-5">
				        <small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
				    </div>
			    </footer>
		    </div>
	    </div>
    </div><!--//docs-wrapper-->



    <!-- Javascript -->
    <script src="/assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="/assets/plugins/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


    <!-- Page Specific JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="/assets/js/highlight-custom.js"></script>
    <script src="/assets/plugins/jquery.scrollTo.min.js"></script>
    <script src="/assets/plugins/lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="/assets/js/docs.js"></script>

</body>
</html>


