<nav id="docs-nav" class="docs-nav navbar">
    <ul class="section-items list-unstyled nav flex-column pb-3">

        {%- for item in collections.docs | sortMenu(menuSortOrder) %}
            <li class="nav-item section-title"><a {% if page.url == item.data.page.url %} class="nav-link active"{%- else %} class="nav-link"{%- endif %} href="{{item.url}}"><span class="theme-icon-holder mr-2"><i class="fas fa-map-signs"></i></span>{{item.data.title}}</a></li>

            {%- for subitem in collections[item.data.submenuSlug] | sortMenu(item.data.submenuOrder) %}
                <li class="nav-item"><a class="nav-link {% if page.url == subitem.data.page.url %}active{%endif%}" href="{{subitem.url}}">{{subitem.data.title}}</a></li>
            {%- endfor %}
        {%- endfor %}
        </nav>
    </div>
</div>
